<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html class="no-js"  lang="en">

	<head>
    <% include ../shared/user/styles.ejs %>
	</head>

	<body>
		<!-- main-menu Start -->
		<% include ../shared/user/navigation.ejs %>
		<!-- main-menu End -->

		<!--about-us start -->
		<section id="home" class="about-us">
			<div class="container">
				<div class="about-us-content">
					<div class="row">
						<div class="col-sm-12">
							<div class="single-about-us">
								<div class="about-us-txt">
									<h2>
										Khám phá nguồn tài nguyên thiên nhiên
									</h2>
								</div><!--/.about-us-txt-->
							</div><!--/.single-about-us-->
						</div><!--/.col-->
						<div class="col-sm-0">
							<div class="single-about-us">
								
							</div><!--/.single-about-us-->
						</div><!--/.col-->
					</div><!--/.row-->
				</div><!--/.about-us-content-->
			</div><!--/.container-->

		</section><!--/.about-us-->
		<!--about-us end -->

		
    <!--service start-->
		<section id="service" class="service">
			<div class="container">
				<div class="gallary-header text-center">
					<h2>
						Các giải pháp của Goodwe
					</h2>
					<p></p>
				</div><!--/.gallery-header-->
				<div class="service-counter text-center">

					<div class="col-md-3 col-sm-3">
						<div class="single-service-box">
							<div class="service-img">
								<img src="/images/service/s1.png" alt="service-icon" />
							</div><!--/.service-img-->
							<div class="service-content">
								<h2>
									<a href="/giai-piap/khu-dan-cu">
										Giải pháp dân dụng
									</a>
								</h2>
								<a href="/giai-piap/khu-dan-cu">
									<div class="about-btn">
										<button class="about-view packages-btn">
											Xem thêm
										</button>
									</div>
								</a>
							</div><!--/.service-content-->
						</div><!--/.single-service-box-->
					</div><!--/.col-->

					<div class="col-md-3 col-sm-3">
						<div class="single-service-box">
							<div class="service-img">
								<img src="/images/service/s2.png" alt="service-icon" />
							</div><!--/.service-img-->
							<div class="service-content">
								<h2>
									<a href="/giai-phap/luu-tru-nang-luong">
										Giải pháp lưu trữ năng lượng
									</a>
								</h2>
								<a href="/giai-phap/luu-tru-nang-luong">
									<div class="about-btn">
										<button class="about-view packages-btn">
											Xem thêm
										</button>
									</div>
								</a>
							</div><!--/.service-content-->
						</div><!--/.single-service-box-->
					</div><!--/.col-->

					<div class="col-md-3 col-sm-3">
						<div class="single-service-box">
							<div class="service-img">
								<img src="/images/service/s2.png" alt="service-icon" />
							</div><!--/.service-img-->
							<div class="service-content">
								<h2>
									<a href="/giai-phap/gioi-han-cong-suat">
										Giải pháp giới hạn công suất
									</a>
								</h2>
								<a href="/giai-phap/gioi-han-cong-suat">
									<div class="about-btn">
										<button class="about-view packages-btn">
											Xem thêm
										</button>
									</div>
								</a>
							</div><!--/.service-content-->
						</div><!--/.single-service-box-->
					</div><!--/.col-->

					<div class="col-md-3 col-sm-3">
						<div class="single-service-box">
							<div class="statistics-img">
								<img src="/images/service/s3.png" alt="service-icon" />
							</div><!--/.service-img-->
							<div class="service-content">

								<h2>
									<a href="/giai-phap/thuong-mai">
										Giải pháp Thương mại & sản xuất
									</a>
								</h2>
								<a href="/giai-phap/thuong-mai">
									<div class="about-btn">
										<button class="about-view packages-btn">
											Xem thêm
										</button>
									</div>
								</a>
							</div><!--/.service-content-->
						</div><!--/.single-service-box-->
					</div><!--/.col-->

				</div><!--/.statistics-counter-->	
			</div><!--/.container-->

		</section><!--/.service-->
		<!--service end-->

		<!--du an toan cau start-->
		<section class="discount-offer">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="dicount-offer-content text-center">
							<h2>DỰ ÁN TOÀN CẦU CỦA GOODWE</h2>
							<div class="row campaign-timer">

									<div class="col-md3 col-sm-3 time">
										<span style="font-size: 0.8em;">672k</span>	
										<br>
										<span style="font-size: 0.5em;">
											Tổng nhà máy hoàn thành
										</span>
									</div><!--/.time-->
									<div class="col-md3 col-sm-3 time">
										<span style="font-size: 0.8em;">696k</span>	
										<br>
										<span style="font-size: 0.5em;">
											Tổng số biến tầng online
										</span>
									</div><!--/.time-->
									<div class="col-md3 col-sm-3 time">
										<span style="font-size: 0.8em;">1295GWh</span>	
										<br>
										<span style="font-size: 0.5em;">
											Tổng công suất được tạo ra
										</span>
									</div><!--/.time-->
									<div class="col-md3 col-sm-3 time">
										<span style="font-size: 0.8em;">15249k ton</span>	
										<br>
										<span style="font-size: 0.5em;">
											Tổng lượng khí CO2 đã cắt giảm
										</span>
									</div><!--/.time-->
							</div><!--/.campaign-timer-->
							<div class="about-btn">
								<a href="/ve-chung-toi/du-an">
									<button  class="about-view discount-offer-btn">
										Xem thêm
									</button>
								</a>
							</div><!--/.about-btn-->
						</div><!-- /.dicount-offer-content-->
					</div><!-- /.col-->
				</div><!-- /.row-->
			</div><!-- /.container-->
		</section><!-- /.discount-offer-->
		<!--du an toan cau end-->

		
		<!-- testemonial Start -->
		<section   class="testemonial">
			<div class="container">

				<div class="gallary-header text-center">
					<h2>
						Sản phẩm của Goodwe
					</h2>
					<p>
						&nbsp;
					</p>

				</div><!--/.gallery-header-->

				<div class="owl-carousel owl-theme" id="testemonial-carousel">
					<div class="home1-testm item">
						<div class="products-type-item"><a href="/bien-tan-dan-dung">
							<img src="/images/products/img_products_type_01.jpg" alt="Bien tan dan dung">
							</a><div class="products-type-desc" style="width: 343px"><a href="/bien-tan-dan-dung">
								<h2 class="products-type-title">Biến tần dân dụng</h2>
								</a>
							</div>
						</div>
					</div><!--/.item-->

					<div class="home1-testm item">
						<div class="products-type-item"><a href="/bien-tan-thuong-mai">
							<img src="/images/products/img_products_type_02.jpg" alt="Bien tan dan dung">
							</a><div class="products-type-desc" style="width: 343px"><a href="/bien-tan-dan-dung">
								<h2 class="products-type-title">Biến tần thương mại</h2>
								</a>
							</div>
						</div>

					</div><!--/.item-->

					<div class="home1-testm item">
						<div class="products-type-item"><a href="/bien-tan-cong-suat-lon">
							<img src="/images/products/img_products_type_03.jpg" alt="Bien tan cong suat lon">
							</a><div class="products-type-desc" style="width: 343px"><a href="/bien-tan-cong-suat-lon">
								<h2 class="products-type-title">Biến tần công suất lớn</h2>
								</a>
							</div>
						</div>
					</div><!--/.item-->

					<div class="home1-testm item">
						<div class="products-type-item"><a href="/bien-tan-luu-tru">
							<img src="/images/products/img_products_type_04.jpg" alt="Bien tan luu tru">
							</a><div class="products-type-desc" style="width: 343px"><a href="/bien-tan-luu-tru">
								<h2 class="products-type-title">Biến tần lưu trữ</h2>
								</a>
							</div>
						</div>
					</div><!--/.item-->

					<div class="home1-testm item">
						<div class="products-type-item"><a href="/he-thong-giam-sat">
							<img src="/images/products/img_products_type_05.jpg" alt="He thong giam sat">
							</a><div class="products-type-desc" style="width: 343px"><a href="/he-thong-giam-sat">
								<h2 class="products-type-title">Hệ thống giám sát</h2>
								</a>
							</div>
						</div>
					</div><!--/.item-->

				</div><!--/.testemonial-carousel-->
			</div><!--/.container-->

		</section><!--/.testimonial-->	
		<!-- testemonial End -->

    <section id="pack" class="packages">
			<div class="container">
				<div class="gallary-header text-center">
					<h2 style="color: white">
						Sản phẩm khác
					</h2>
				</div>

				<div class="packages-content">
					<div class="row">
						<% inverters.forEach(item => { %>
							<div class="col-md-4 col-sm-6">
								<div class="single-package-item">
									<div class="img-container">
										<img src="<%= item.image %>" alt="package-place">
									</div>
									<div class="single-package-item-txt">
										<h3><%= item.name %>
											<span class="pull-right">
												Giá:
												 	<% if (item.price > 0 && item.discount > 0) { %>
														<span class="sale-off">
															<%= item.price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %>
														</span>
														<%= (item.price - item.price*item.discount/100).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %>
													<% } else { %>
														Liên hệ
													<% } %>
											</span>
										</h3>
										<div class="packages-para">
											<p>
												<i class="fa fa-angle-right"></i> Loại sản phẩm: <%= item.product_type.name %>
											</p>
											<p>
												<i class="fa fa-angle-right"></i> Nhà cung cấp: <%= item.provider.name %>
											</p>
											<p>
												<i class="fa fa-angle-right"></i>
												Bảo hành: <%= item.warranty %>
											</p>
										</div>
										<div class="about-btn">
											<a href="/<%= item.slug %>">
												<button  class="about-view packages-btn">
													Chi tiết
												</button>
											</a>
										</div>
									</div>
								</div>
							</div>
						<% }) %>
					</div>
				</div>
			</div>
		</section>
		
		<section id="pack" class="packages">
			<div id="pin_mt" class="container">
				<div class="gallary-header text-center">
					<h2 style="color: white">
						Pin mặt trời
					</h2>
				</div>
				<div class="packages-content">
					<div class="row">
						<% solarPins.forEach(item => { %>
							<div class="col-md-4 col-sm-6">
								<div class="single-package-item">
									<div class="img-container">
										<img src="<%= item.image %>" alt="package-place">
									</div>
									<div class="single-package-item-txt">
										<h3><%= item.name %>
											<span class="pull-right">
												Giá:
												 	<% if (item.price > 0 && item.discount > 0) { %>
														<span class="sale-off">
															<%= item.price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %>
														</span>
														<%= (item.price - item.price*item.discount/100).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %>
													<% } else { %>
														Liên hệ
													<% } %>
											</span>
										</h3>
										<div class="packages-para">
											<p>
												<i class="fa fa-angle-right"></i> Loại sản phẩm: <%= item.product_type.name %>
											</p>
											<p>
												<i class="fa fa-angle-right"></i> Nhà cung cấp: <%= item.provider.name %>
											</p>
											<p>
												<i class="fa fa-angle-right"></i>
												Bảo hành: <%= item.warranty %>
											</p>
										</div>
										<div class="about-btn">
											<a href="/<%= item.slug %>">
												<button  class="about-view packages-btn">
													Chi tiết
												</button>
											</a>
										</div>
									</div>
								</div>
							</div>
						<% }) %>
					</div>
				</div>
			</div>
		</section>

		<section id="pack" class="packages">
			<div id="den_mt" class="container">
				<div class="gallary-header text-center">
					<h2 style="color: white">
						Đèn lượng mặt trời
					</h2>
				</div>
				<div class="packages-content">
					<div class="row">
						<% solarLeds.forEach(item => { %>
							<div class="col-md-4 col-sm-6">
								<div class="single-package-item">
									<div class="img-container">
										<img src="<%= item.image %>" alt="package-place">
									</div>
									<div class="single-package-item-txt">
										<h3><%= item.name %>
											<span class="pull-right">
												Giá:
												 	<% if (item.price > 0 && item.discount > 0) { %>
														<span class="sale-off">
															<%= item.price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %>
														</span>
														<%= (item.price - item.price*item.discount/100).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %>
													<% } else { %>
														Liên hệ
													<% } %>
											</span>
										</h3>
										<div class="packages-para">
											<p>
												<i class="fa fa-angle-right"></i> Loại sản phẩm: <%= item.product_type.name %>
											</p>
											<p>
												<i class="fa fa-angle-right"></i> Nhà cung cấp: <%= item.provider.name %>
											</p>
											<p>
												<i class="fa fa-angle-right"></i>
												Bảo hành: <%= item.warranty %>
											</p>
										</div>
										<div class="about-btn">
											<a href="/<%= item.slug %>">
												<button  class="about-view packages-btn">
													Chi tiết
												</button>
											</a>
										</div>
									</div>
								</div>
							</div>
						<% }) %>
					</div>
				</div>
			</div>
		</section>

		<section id="pack" class="packages">
			<div id="quat_mt" class="container">
				<div class="gallary-header text-center">
					<h2 style="color: white">
						Quạt năng lượng mặt trời
					</h2>
				</div>
				<div class="packages-content">
					<div class="row">
						<% solarFans.forEach(item => { %>
							<div class="col-md-4 col-sm-6">
								<div class="single-package-item">
									<div class="img-container">
										<img src="<%= item.image %>" alt="package-place">
									</div>
									<div class="single-package-item-txt">
										<h3><%= item.name %>
											<span class="pull-right">
												Giá:
												 	<% if (item.price > 0 && item.discount > 0) { %>
														<span class="sale-off">
															<%= item.price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %>
														</span>
														<%= (item.price - item.price*item.discount/100).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %>
													<% } else { %>
														Liên hệ
													<% } %>
											</span>
										</h3>
										<div class="packages-para">
											<p>
												<i class="fa fa-angle-right"></i> Loại sản phẩm: <%= item.product_type.name %>
											</p>
											<p>
												<i class="fa fa-angle-right"></i> Nhà cung cấp: <%= item.provider.name %>
											</p>
											<p>
												<i class="fa fa-angle-right"></i>
												Bảo hành: <%= item.warranty %>
											</p>
										</div>
										<div class="about-btn">
											<a href="/<%= item.slug %>">
												<button  class="about-view packages-btn">
													Chi tiết
												</button>
											</a>
										</div>
									</div>
								</div>
							</div>
						<% }) %>
					</div>
				</div>
			</div>
		</section>

		<section id="pack camera_mt" class="packages">
			<div id="camera_mt" class="container">
				<div class="gallary-header text-center">
					<h2 style="color: white">
						Camera năng lượng mặt trời
					</h2>
				</div>
				<div class="packages-content">
					<div class="row">
						<% solarCameras.forEach(item => { %>
							<div class="col-md-4 col-sm-6">
								<div class="single-package-item">
									<div class="img-container">
										<img src="<%= item.image %>" alt="package-place">
									</div>
									<div class="single-package-item-txt">
										<h3><%= item.name %>
											<span class="pull-right">
												Giá:
												 	<% if (item.price > 0 && item.discount > 0) { %>
														<span class="sale-off">
															<%= item.price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %>
														</span>
														<%= (item.price - item.price*item.discount/100).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %>
													<% } else { %>
														Liên hệ
													<% } %>
											</span>
										</h3>
										<div class="packages-para">
											<p>
												<i class="fa fa-angle-right"></i> Loại sản phẩm: <%= item.product_type.name %>
											</p>
											<p>
												<i class="fa fa-angle-right"></i> Nhà cung cấp: <%= item.provider.name %>
											</p>
											<p>
												<i class="fa fa-angle-right"></i>
												Bảo hành: <%= item.warranty %>
											</p>
										</div>
										<div class="about-btn">
											<a href="/<%= item.slug %>">
												<button  class="about-view packages-btn">
													Chi tiết
												</button>
											</a>
										</div>
									</div>
								</div>
							</div>
						<% }) %>
					</div>
				</div>
			</div>
		</section>

		<% include ../shared/user/footer.ejs %>
		<% include ../shared/user/scripts.ejs %>
	</body>
</html>